<span i18n='@@creed'>
  I believe in God the Father almighty Creator of Heavan and Earth;
  and in Jesus Christ, His only Son, Our Lord
  who was conceived by the Holy Spirit,
  born of the Virgin Mary,
  suffered under Pontius Pilate,
  was crucified, died and was buried;
  He decended into hell;
  the third day He rose again from the dead;
  He ascended into heavan,
  sits at the right hand of God the Father Almighty;
  from there He shall come to judge the living and the dead.
  I believe in the Holy Spirit;
  the Holy Catholic Church,
  the communion of saints;
  the forgiveness of sins;
  the resurrection of the body;
  and life everylasting.
  Amen.
</span>
