<span i18n='@@creed'>
I believe in God the Father almighty Creator of Heaven and Earth;<br />
and in Jesus Christ, His only Son, Our Lord<br />
who was conceived by the Holy Spirit,<br />
born of the Virgin Mary,<br />
suffered under Pontius Pilate,<br />
was crucified, died and was buried;<br />
He decended into hell;<br />
the third day He rose again from the dead;<br />
He ascended into heaven,<br />
sits at the right hand of God the Father Almighty;<br />
from there He shall come to judge the living and the dead.<br />
I believe in the Holy Spirit;<br />
the Holy Catholic Church,<br />
the communion of saints;<br />
the forgiveness of sins;<br />
the resurrection of the body;<br />
and life everylasting.<br /><br />
Amen.
</span>
