<div class="prayer-leader-label" i18n="@@prayer-leader">Leader:</div>
<div class="prayer-leader" i18n="@@our-father-leader">
Our Father who art in heaven,<br />
hallowed be Thy name;<br />
Thy kingdom come;<br />
Thy will be done<br />
on earth as it is in heaven.
</div>
<div class="prayer-response-label" i18n="@@prayer-response">Response:</div>
<div class="prayer-response" i18n="@@our-father-response">
Give us this day our daily bread;<br />
and forgive us our trespasses,<br />
as we forgive those who trespass against us;<br />
and lead us not into temptation;<br />
but deliver us from evil.<br /><br />
Amen.
</div>
