<div class="pats-beads-container">
  <div class="pats-beads-div" [style]="beadsTransformStyle()">
    <img id="pats-beads-img" src="assets/cropped-2.png" [style]="imageStyle()">
    <!-- <div id="pats-beads-highlight-div" [style]="highlightStyle(0)"></div>
    <div id="pats-beads-highlight-div" [style]="highlightStyle(1)"></div>
    <div id="pats-beads-highlight-div" [style]="highlightStyle(3)"></div> -->
    <div *ngFor="let entry of rawCoords; index as i">
      <div class="pats-beads-highlight-div" [style]="highlightStyle(i)"></div>
    </div>
  </div>
</div>
