#pats-beads-div {
  background-color: transparent;
  overflow: hidden;
}

@media (orientation: landscape) {
  #pats-beads-img {
    object-fit: scale-down;
    height: 45vw;
  }
}

@media (orientation: portrait) {
  #pats-beads-div {
    transform: rotate(90deg);
  }

  #pats-beads-img {
    object-fit: scale-down;
    width: 40vw;
  }
}


.pats-beads-highlight-div {
  position: absolute;

  background-color: red;
  border: solid darkred;
  border-radius: 50%;

  opacity: 0.5;
  z-index: 2;
}

#pats-beads-image-placeholder {
  background-color: blueviolet;
  z-index: 1;
}
