<audio #tap1>
  <source [src]='tap1mp3()' type='audio/mp3'>
  <source [src]='tap1ogg()' type='audio/ogg'>
  Unable to load 1
</audio>

<audio #tap2>
  <source [src]='tap2mp3()' type='audio/mp3'>
  <source [src]='tap2ogg()' type='audio/ogg'>
  Unable to load 2
</audio>

<div id="rosary-beads">
  <div id="rosary-beads-img-div">
    <app-pats-beads #rosaryBeads [highlightBeadIdx]="highlightBeadIndex"></app-pats-beads>
  </div>
  <div id="rosary-beads-prayer-div">
    <div *ngIf="showMystery">
      <app-mystery-display [activeBeadGroupList]="activeBeadGroupList"></app-mystery-display>
    </div>
    <div id="active-prayer">
      <app-current-prayer #primaryPrayer [prayerName]="prayerName" [activeBeadGroup]="activeBeadGroup" [currentPrayer]="currentPrayer" [debugTheEnd]="debugTheEnd"></app-current-prayer>
    </div>
  </div>
</div>
