<span class="gtp-row">
  <span id="rosary-beads-div" class="gtp-cell-plain-4 gtp-cell-plain-12-phone">
    <app-pats-beads [highlightBeadIdx]="highlightBeadIndex"></app-pats-beads>
  </span>
  <span class="gtp-cell-plain-8 gtp-cell-plain-12-phone">
    <div class="active-mystery" *ngIf="showMystery">
      <div>
        <app-mystery-display [activeBeadGroupList]="activeBeadGroupList"></app-mystery-display>
      </div>
    </div>
    <div class="active-prayer content-no-border">
      <app-current-prayer [activeBeadGroup]="activeBeadGroup" [currentPrayer]="currentPrayer"></app-current-prayer>
    </div>
  </span>
</span>
