<div id="rosary-beads">
  <div id="rosary-beads-img-div">
    <app-pats-beads [highlightBeadIdx]="highlightBeadIndex"></app-pats-beads>
  </div>
  <div id="rosary-beads-prayer-div">
    <div *ngIf="showMystery">
      <app-mystery-display [activeBeadGroupList]="activeBeadGroupList" (swipe)="onSwipe($event)"></app-mystery-display>
    </div>
    <div id="active-prayer">
      <app-current-prayer #primaryPrayer [prayerName]="prayerName" [activeBeadGroup]="activeBeadGroup" [currentPrayer]="currentPrayer" [debugTheEnd]="debugTheEnd" (swipe)="onSwipe($event)"></app-current-prayer>
    </div>
  </div>
</div>
