@import '../../../styles-shared-mixins.scss';

@media (orientation: landscape) {

  #rosary-beads-img-div {
    float: left;
    width: 30%;
  }

  #rosary-beads-prayer-div {
    float: right;
    width: 70%;
  }

}

@media (orientation: portrait) {

  #rosary-beads-prayer-div {
    margin-top: -1vh;
  }

}
