<div class="active-prayer-header">
  <span class="left">
    <span class="prayer-name">{{ prayerName }}</span>
  </span>
  <span class="right">
    <span class="active-nav" *ngIf="!isPrayerSequenceDone">
      <button (click)="onStartNew()" i18n>Reset Prayer</button>
    </span>
    <span class="active-nav" *ngIf="isPrayerSequenceDone">
      <button (click)="onStartNew()" i18n>Start New Prayer</button>
    </span>
    <span *ngIf="appConfig.isPortrait">
      <input #navEnabledChkbox type="checkbox" value=false (change)="onEnableNavigation()">
    </span>
  </span>
</div>
