@import 'src/styles-shared-mixins.scss';

.active-prayer-header {

  background-color: yellowgreen;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  padding: $padding;

}

@media (orientation: landscape) {
  .active-prayer-header {
    max-height: 6vh;
  }
}

@media (orientation: portrait) {
  .active-prayer-header {
    max-height: 4vh;
  }
}

.active-prayer-header .left {
  padding: $padding;
  text-align: center;
  width: 45%;
}

.active-prayer-header .right {
  padding: $padding;
  text-align: center;
  width: 55%;
}

.arrows-btn-inward, .arrows-btn-outward {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.arrows-btn-inward {
  background-image: url('../../../assets/inward-arrows.png');
}

.arrows-btn-outward {
  background-image: url('../../../assets/expand-arrows.png');
}

@media (orientation: landscape) {

  .active-prayer-header .right {
    margin-top: -1.5vh;
  }

}

@media (orientation: portrait) {

  .active-prayer-header .right {
    margin-top: -1.9vh;
  }

}

