<span i18n='@@closing-1'>
  V: Pray for us, O holy Mother of God.

  R: That we may be made worthy of the promises of Christ.
</span>
<hr/>
<span i18n='@@closing-2'>
  Let us pray:
  O God, whose only begotten Son,
  by His life, death and resurrection,
  purchased for us the rewards of eternal life,
  grant, we beseech Thee, that meditating on these mysteries
  of the Most Holy Rosary of the Blessed Virgin Mary,
  we may imitate what they contain,
  and obtain what they promise,
  through the same Christ, our Lord.
  Amen.
</span>
