<span i18n='@@closing-1'>
V: Pray for us, O holy Mother of God.<br /><br />
R: That we may be made worthy of the promises of Christ.
</span>
<hr/>
<span i18n='@@closing-2'>
Let us pray:<br /><br />
O God, whose only begotten Son,<br />
by His life, death and resurrection,<br />
has purchased for us the rewards of eternal life,<br />
grant, we beseech Thee, that meditating on these mysteries<br />
of the Most Holy Rosary of the Blessed Virgin Mary,<br />
we may imitate what they contain,<br />
and obtain what they promise,<br />
through the same Christ, our Lord.<br /><br />
Amen.
</span>
