<div class="mystery-row">
  <ng-container *ngIf="appConfig.isPortrait === false">
    <div class="mystery-row-inner">
      <div class="mystery-label">
        {{ mysteryNum }} {{ mysteryName }} {{ mysteryLiteralLabel }}:
      </div>
      <div class="mystery-value">
        {{ activeBeadGroupList.mystery() }}
      </div>
    </div>
    <div class="mystery-row-inner">
      <div class="fruit-label" i18n>
        Fruit of the Mystery:
      </div>
      <div class="fruit-value">
        {{ activeBeadGroupList.fruit() }}
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="appConfig.isPortrait">
    <span class="mystery-label">
      {{ mysteryNum }} {{ mysteryName }} {{ mysteryLiteralLabel }}:
    </span>
    <span class="mystery-value">
      {{ activeBeadGroupList.mystery() }}
    </span>
    <div class="fruit-value">
      ({{ activeBeadGroupList.fruit() }})
    </div>
  </ng-container>
</div>
