@import '../../../styles-shared-mixins.scss';

.select-mystery-title-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.section-title {
  text-align: left;
  width: calc(100% - 9vw);
}

.config-widget {
  float: right;
  width: 9vw;
}

@media (orientation: landscape) {
  .button-row {
    display: flex;
    flex-direction: row;
  }

  .button-cell {
    width: 24%;
    padding: $padding;
  }
}

@media (orientation: portrait) {
  .button-row {
    display: flex;
    flex-direction: column;
  }

  .button-cell {
    width: 100%;
    padding: $padding-phone;
  }
}

button {
  width: 100%;
}

.highlight-mystery-of-day {
  background-color: yellow;
  border-width: 2px;
  color: darkblue;
}
