<div class="content-border">
  <div class="select-mystery-title-row">
    <span class="section-title" i18n>
      Select the desired Mystery:
    </span>
    <button class="config-widget" (click)="onConfigView()">
      &nbsp;&nbsp;&nbsp;&nbsp;
    </button>
  </div>
  <div class="button-row">
    <div class="button-cell">
      <button (click)='selectGlorious()' [class]='isGlorious'><b>{{ gloriousMystery }}</b></button>
    </div>
    <div class="button-cell">
      <button (click)='selectJoyful()' [class]='isJoyful'><b>{{ joyfulMystery }}</b></button>
    </div>
    <div class="button-cell">
      <button (click)='selectLuminous()' [class]='isLuminous'><b>{{ luminousMystery }}</b></button>
    </div>
    <div class="button-cell">
      <button (click)='selectSorrowful()' [class]='isSorrowful'><b>{{ sorrowfulMystery }}</b></button>
    </div>
  </div>
</div>
