<div class="button-selector">
  <div class="left">&nbsp;</div>
  <div class="center">
    <p i18n>Select the desired Mystery:</p>
    <!-- <div>
      <button (click)='selectByDay()'>{{ selectByDayLabel() }}</button>
    </div> -->
    <div>
      <button (click)='selectGlorious()' i18n>Glorious</button>
    </div>
    <div>
      <button (click)='selectJoyful()' i18n>Joyful</button>
    </div>
    <div>
      <button (click)='selectLuminous()' i18n>Luminous</button>
    </div>
    <div>
      <button (click)='selectSorrowful()' i18n>Sorrowful</button>
    </div>
  </div>
  <div class="right">&nbsp;</div>
</div>
