<div class="content-border">
  <div class="select-mystery-title-row">
    <span class="section-title" i18n>
      Select the desired Mystery:
    </span>
    <button class="config-widget" (click)="onConfigView()">
      &nbsp;&nbsp;&nbsp;&nbsp;
    </button>
  </div>
  <div class="button-row">
      <button (click)='selectGlorious()' [class]='isGlorious'><b>{{ gloriousMystery }}</b></button>
      <!-- <span class="description" i18n>Sundays and Wednesdays</span> -->
  </div>
  <div class="button-row">
      <button (click)='selectJoyful()' [class]='isJoyful'><b>{{ joyfulMystery }}</b></button>
      <!-- <span class="description" i18n>Mondays, Saturdays and Sundays during Advent</span> -->
  </div>
  <div class="button-row">
      <button (click)='selectLuminous()' [class]='isLuminous'><b>{{ luminousMystery }}</b></button>
      <!-- <span class="description" i18n>Thursdays</span> -->
  </div>
  <div class="button-row">
      <button (click)='selectSorrowful()' [class]='isSorrowful'><b>{{ sorrowfulMystery }}</b></button>
      <!-- <span class="description" i18n>Tuesdays, Fridays and Sundays during Lent</span> -->
  </div>
</div>
