@import '../../../../styles-shared-mixins.scss';

$widget-width: 3vw;
$widget-width-phone: 9vw;

.select-mystery-title-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (orientation: landscape) {
  .section-title {
    text-align: left;
    width: calc(100% - #{$widget-width});
  }

  .config-widget {
    float: right;
    width: $widget-width;
  }

  .button-row {
    display: flex;
    flex-direction: row;
    padding: $margins;

    button, description {
      width: 24%;
      padding: $padding;
    }
  }
}

@media (orientation: portrait) {
  .section-title {
    text-align: left;
    width: calc(100% - #{$widget-width-phone});
  }

  .config-widget {
    float: right;
    width: $widget-width-phone;
  }

  .button-row {
    display: flex;
    flex-direction: row;
    padding: $margins-phone;

    button {
      width: 40%;
    }

    .description {
      display: flex;
      align-items: center;

      padding-left: $margins;
      width: 60%;
      height: inherit;
    }
  }
}

button {
  width: 100%;
}

.highlight-mystery-of-day {
  background-color: yellow;
  border-width: 2px;
  color: darkblue;
}
