<div class="content-border">
  <div class="select-mystery-title-row">
    <span class="section-title" i18n>
      Select the desired Mystery:
    </span>
    <button class="config-widget" (click)="onConfigView()">
      &nbsp;&nbsp;&nbsp;&nbsp;
    </button>
  </div>

  <ng-container *ngIf="!isPortrait">
    <div class="button-row">
      <div class="button-cell">
        <button (click)='selectGlorious()' [class]='isGlorious'><b>{{ gloriousMystery }}</b></button>
        <span class="description">{{ gloriousMysteryNotes }}</span>
      </div>
      <div class="button-cell">
        <button (click)='selectJoyful()' [class]='isJoyful'><b>{{ joyfulMystery }}</b></button>
        <span class="description">{{ joyfulMysteryNotes }}</span>
      </div>
      <div class="button-cell">
        <button (click)='selectLuminous()' [class]='isLuminous'><b>{{ luminousMystery }}</b></button>
        <span class="description">{{ luminousMysteryNotes }}</span>
      </div>
      <div class="button-cell">
        <button (click)='selectSorrowful()' [class]='isSorrowful'><b>{{ sorrowfulMystery }}</b></button>
        <span class="description">{{ sorrowfulMysteryNotes }}</span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="isPortrait">
    <div class="button-row">
      <button (click)='selectGlorious()' [class]='isGlorious'><b>{{ gloriousMystery }}</b></button>
      <span class="description">{{ gloriousMysteryNotes }}</span>
    </div>
    <div class="button-row">
      <button (click)='selectJoyful()' [class]='isJoyful'><b>{{ joyfulMystery }}</b></button>
      <span class="description">{{ joyfulMysteryNotes }}</span>
    </div>
    <div class="button-row">
      <button (click)='selectLuminous()' [class]='isLuminous'><b>{{ luminousMystery }}</b></button>
      <span class="description">{{ luminousMysteryNotes }}</span>
    </div>
    <div class="button-row">
      <button (click)='selectSorrowful()' [class]='isSorrowful'><b>{{ sorrowfulMystery }}</b></button>
      <span class="description">{{ sorrowfulMysteryNotes }}</span>
    </div>
  </ng-container>
</div>
