<div id="home-content-border" (swipe)="onSwipe($event)">
  <div *ngIf="showMysterySelector">
    <app-mystery-selector (selectedMysteryEvent)="onMysterySelected($event)"></app-mystery-selector>
    <app-notices></app-notices>
  </div>
  <ng-container *ngIf="!showMysterySelector">
    <app-active-prayer
      [activeBeadGroupList]="selectedBeadGroupList"
      (onResetEvent)="onResetEvent($event)"
      (onEnableNavigationEvent)="onEnableNavigation($event)"
      (onToggleViewEvent)="onToggleView()">
    </app-active-prayer>
    <div id="nav-footer" *ngIf="!appConfig.isPortrait || navigationEnabled">
      <app-navigation (onNextClickEvent)="onNext()" (onPreviousClickEvent)="onPrevious()">
      </app-navigation>
    </div>
  </ng-container>
</div>
