@import '../../../../styles-shared-mixins.scss';

$button-height: 9vh;
$close-button-diameter: 25px;
$tab-line-color: darkslategray;
$tab-top-radius: 10px;

#config-tab-row {
  border-bottom: 1px solid $tab-line-color;
  display: block;
  height: 4vh;
  width: 100%;
}

#config-tab-row .tabs-section {
  float: left;
  // height: $button-height;

  .selected-tab, .unselected-tab {
    border-top-left-radius: $tab-top-radius;
    border-top-right-radius: $tab-top-radius;
    border-color: $tab-line-color;
    border-style: solid;
    padding: $margins;
    text-align: center;
  }

  .selected-tab {
    border-width: 2px;
  }

  .unselected-tab {
    border-width: 1px;
    opacity: 50%;
  }

}

#config-tab-row .close-config {
  float: right;
  border-radius: 50%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: smaller;
  font-weight: bold;
  vertical-align: top;
  width: $close-button-diameter;
  height: $close-button-diameter;
}