<div class="device-row">
  <span class="device-field-name">User-agent:</span>
  <span class="device-field-value">{{ userAgent }}</span>
</div>
<div class="device-row">
  <span class="device-field-name">Portrait?</span>
  <span class="device-field-value">{{ isPortrait }}</span>
</div>
<div class="device-row">
  <span class="device-field-name">Win (inner):</span>
  <span class="device-field-value">{{ windowInnerDimension }}</span>
</div>
<div class="device-row">
  <span class="device-field-name">Win (outer):</span>
  <span class="device-field-value">{{ windowOuterDimension }}</span>
</div>