<!-- <div class="gtp-row-plain"> -->
  <!-- <div class="gtp-cell-plain-1"></div>
  <div class="gtp-cell-plain-5"> -->
    <div class="box">
    <div *ngFor="let period of periods" class="period">
      {{ period.name }}:<br/>
      {{ period.startDate | date }} - {{ period.endDate | date }}
    </div>
    </div>
  <!-- </div> -->
  <!-- <div class="gtp-cell-plain-2"></div>
  <div class="gtp-cell-plain-5">
    <div *ngFor="let period of periodsRight" class="section-row">
      <div>
        {{ period.name }}:
      </div>
      <div>
        {{ period.startDate | date }} - {{ period.endDate | date }}
      </div>
    </div>
  </div>
  <div class="gtp-cell-plain-1"></div> -->
<!-- </div> -->
