<div class="liturgical-div">
  <label i18n>Liturgical period:</label>&nbsp;
  <select (change)="onLiturgicalPeriodChanged($event.target.value)">
    <option *ngFor="let periodSelector of litYearColorSelector; let i = index" value="{{ i }}">
      {{ periodSelector.name }}
    </option>
  </select>
</div>
<div class="box">
  <div *ngFor="let period of periods" class="period">
    <div class="label">{{ labelFromId(period.labelId) }}:</div>
    {{ period.startDate | date }} - {{ period.endDate | date }}
  </div>
</div>
