@import '../../../styles-shared-mixins.scss';

.liturgical-div {
  text-align: center;
  width: 99%;
}

@media (orientation: landscape) {

  .liturgical-div select {
    font-weight: $font-size-base;
    height: vh;
  }

  .box {
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }

  .box>* {
    flex: 0 0 33%;
    height: 5vh;
  }

}

/* -------------------------------------------------------------------------------- */

@media (orientation: portrait) {

  select {
    font-weight: $font-size-base-phone;
    height: 3vh;
  }

  .box {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    height: 300px;
    text-align: center;
  }

  .box>* {
    flex: 0 0 10%;
  }

}

.label {
  font-weight: bold;
  margin: 0.5vh;
  padding-top: $padding;
}
