@import '../../../styles-shared-mixins.scss';

.liturgical-div {
  text-align: center;
  width: 99%;
}

@media (orientation: landscape) {

  .liturgical-div select, .liturgical-div select option {
    font-size: $font-size-dropdown;
  }

  .box {
    height: 8em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-content: space-between;
  }

  .box>* {
    flex: 0 0 50%;
  }

}

/* -------------------------------------------------------------------------------- */

@media (orientation: portrait) {

  .liturgical-div select, .liturgical-div select option {
    font-size: $font-size-dropdown-phone;
  }

  .box {
    display: flex;
    flex-direction: column;
    height: 300px;
    text-align: center;
  }

  .box>* {
    flex: 0 0 10%;
  }

}

.label {
  font-weight: bold;
  margin: 0.5vh;
  padding-top: $padding;
}
