@import '../../../../styles-shared-mixins.scss';

.mystery-row {
  border: $border;
  border-radius: $border-radius;
  background-color: lightskyblue;
  margin: $margins;
  padding: $padding;
  text-align: left;
}

@media (orientation: landscape) {

  .mystery-row-inner {
    margin-top: $margins;
  }

  .mystery-label, .fruit-label {
    font-size: small;
    margin-left: $margins;
    margin-right: $margins;
  }

  .mystery-value, .fruit-value {
    font-weight: bold;
    margin-left: $margins;
    margin-right: $margins;
    text-align: left;
  }

}

@media (orientation: portrait) {

  .mystery-row-inner {
    margin-top: 0.5vh;
  }

  .mystery-value {
    font-weight: bold;
  }

  .fruit-value {
    font-style: italic;
  }
}


