<div class="mystery-row">
  <ng-container *ngIf="appConfig.isPortrait === false">
    <div class="mystery-row-inner">
      <div class="mystery-label">
        {{ mysteryNum }} {{ mysteryName }} {{ mysteryLiteralLabel }}:
      </div>
      <div class="mystery-value">
        {{ activeBeadGroupList.mystery() }}
      </div>
    </div>
    <ng-container *ngIf="activeBeadGroupList.fruit()">
      <div class="mystery-row-inner">
        <div class="fruit-label" i18n="@@mystery-fruit">Fruit of the Mystery:</div>
        <div class="fruit-value">
          {{ activeBeadGroupList.fruit() }}
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="appConfig.isPortrait">
    <span class="mystery-label">
      {{ mysteryNum }} {{ mysteryName }} {{ mysteryLiteralLabel }}:
    </span>
    <span class="mystery-value">
      {{ activeBeadGroupList.mystery() }}
    </span>
    <ng-container *ngIf="activeBeadGroupList.fruit()">
      <span class="fruit-value">
        - {{ activeBeadGroupList.fruit() }}
      </span>
    </ng-container>
  </ng-container>
</div>
