<div class="active-prayer-workspace">
  <div *ngIf="currentPrayer && debugTheEnd !== true">
    <pre *ngIf="currentPrayer.all">
      {{ currentPrayer.all }}
    </pre>
    <ng-container *ngIf="currentPrayer.all === undefined">
      <div>
        <span [class]="leaderLabelCssClass()">
          <div i18n="@@prayer-leader">Leader:</div>
        </span>
        <span [class]="leaderCssClass()">
          {{ currentPrayerLeader() }}
        </span>
      </div>
      <div>
        <div [class]="responseLabelCssClass()" i18n="@@prayer-response">
          Response:
        </div>
        <div [class]="responseCssClass()">
          {{ currentPrayer.response }}
        </div>
      </div>
    </ng-container>
  </div>
  <div *ngIf="activeBeadGroup === undefined || debugTheEnd">
    <app-end [prayerName]="prayerName"></app-end>
  </div>
</div>
