<div class="active-prayer-workspace">
  <div *ngIf="currentPrayer">
    <pre *ngIf="currentPrayer.all" class="prayer-response gtp-pre-line">
      {{ currentPrayer.all }}
    </pre>
    <ng-container *ngIf="currentPrayer.all === undefined">
      <div class="gtp-row-plain">
        <div [class]="leaderLabelCssClass()">
          <div i18n="@@prayer-leader">L:</div>
        </div>
        <div [class]="leaderCssClass()">
          {{ currentPrayerLeader() }}
        </div>
      </div>
      <div class="gtp-row-plain">
        <div [class]="responseLabelCssClass()" i18n="@@prayer-response">
          R:
        </div>
        <div [class]="responseCssClass()">
          {{ currentPrayer.response }}
        </div>
      </div>
    </ng-container>
  </div>
  <div *ngIf="activeBeadGroup === undefined">
    <app-end [prayerName]="prayerName"></app-end>
  </div>
</div>
