<div class="active-prayer-workspace">
  <div *ngIf="currentPrayer && debugTheEnd !== true">
    <div>
    <div *ngIf="currentPrayer.all" class="prayer-all">
      {{ currentPrayer.all }}
    </div>
    </div>
    <ng-container *ngIf="currentPrayer.all === undefined">
      <div>
        <span class="prayer-leader-label">
          <span class="leaderPrayerLeft" i18n="@@prayer-leader">Leader:</span>
          <span class="leaderPrayerRight">{{ currentPrayerCounter() }}</span>
        </span>
        <span class="prayer-leader">
          {{ currentPrayerLeader() }}
        </span>
      </div>
      <div>
        <div class="prayer-response-label" i18n="@@prayer-response">
          Response:
        </div>
        <div class="prayer-response">
          {{ currentPrayer.response }}
        </div>
      </div>
    </ng-container>
  </div>
  <div *ngIf="activeBeadGroup === undefined || debugTheEnd">
    <app-end [prayerName]="prayerName"></app-end>
  </div>
</div>
