<!-- <div id="active-prayer-section-container">
  <div class="app-header-div">
    <app-header
      [prayerName]="prayerName"
      [isPrayerSequenceDone]="isPrayerSequenceDone"
      (onResetEvent)="onStartNew()"
      (onEnableNavigationEvent)="onEnableNavigation($event)"
      (onToggleViewEvent)="onToggleView()">
    </app-header>
  </div>

  <div>
    <app-holy-rosary-prayer
      [activeBeadGroupList]="activeBeadGroupList"
      [prayerName]="prayerName"
      [debugTheEnd]="debugTheEnd">
    </app-holy-rosary-prayer>
  </div>
</div> -->
