// #pats-beads {
//   margin: 5px 5px;
// }

html, body {
  margin: unset;
  padding: unset;
}

.layout-border {
  background-color: turquoise;
  // width: 97vmin;
  height: 96vmin;
  overflow: hidden;
}

.layout-border .left-cell {
  float: left;
  text-align: right;
}

.layout-border .right-cell {
  text-align: left;
}

img {
  width: 50vw;
  max-height: 99vh;
  // height: 100%;
  // max-height: 100%;
  // float: left;
  object-fit: contain;
  // align-content: left;
  display: flex;
  padding: 5px 5px;
}
