<div>
  <div id="test-home-content-border" class="home-content-border">
    <app-active-prayer [activeBeadGroupList]="selectedBeadGroupList">
    </app-active-prayer>
  </div>
</div>
<div class="gtp-footer">
  <div>
    <span class="gtp-row-plain">
      <span class="gtp-cell-none gtp-cell-1-phone phone-nav">
        <button (click)="onPrevious()">&lt;=</button>
      </span>
      <span class="gtp-cell-none gtp-cell-1-phone phone-nav">
        <button (click)="onNext()">=&gt;</button>
      </span>
    </span>
  </div>
</div>
