/* ================================================================================ */
html, body {
  font-family: Consola;
  margin: unset;
}
button {
  border-radius: 10px;
  padding: 5px;
}
input {
  font-family: Consola;
  margin-bottom: 10px;
}
pre {
  font-family: Consola;
}
@media (orientation: landscape) {
  html, body {
    font-size: 2vw;
  }

  button {
    font-family: Consola;
    font-size: 2vw;
  }

  pre {
    font-family: Consola;
    font-size: 2vw;
  }
}
@media (orientation: portrait) {
  html, body {
    font-size: 5vw;
  }

  button {
    font-family: Consola;
    font-size: 5vw;
  }

  pre {
    font-family: Consola;
    font-size: 5vw;
  }
}
/* ================================================================================ */
/* ================================================================================ */
.lit-color-green, .lit-color-red, .lit-color-rose, .lit-color-violet, .lit-color-white {
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
}
.lit-color-green {
  background-image: repeating-linear-gradient(0deg, green, green 3px, darkgreen 3px, darkgreen 6px);
}
.lit-color-red {
  background-image: repeating-linear-gradient(0deg, #d20000, #d20000 3px, #960000 3px, #960000 6px);
}
.lit-color-rose {
  background-image: repeating-linear-gradient(0deg, pink, pink 3px, rgba(255, 192, 203, 0.411) 3px, rgba(255, 192, 203, 0.411) 6px);
}
.lit-color-violet {
  background-image: repeating-linear-gradient(0deg, purple, purple 3px, #380038 3px, #380038 6px);
}
.lit-color-white {
  background-image: repeating-linear-gradient(0deg, white, white 3px, #ebebeb 3px, #ebebeb 6px);
}
/* ================================================================================ */
/*
  // Reference: https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space
  display: flex;
  flex-flow: column;
  height: 100%;
*/
.content-border, #home-content-border {
  border: 1px dashed black;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
}
.content-no-border, .content-border, #home-content-border {
  background-color: lightgray;
  box-sizing: border-box;
  margin: 5px;
  opacity: 85%;
  padding: 5px;
}
#home-content-border {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}
#nav-footer {
  position: absolute;
  max-height: 6vh;
  width: 100%;
}
@media (orientation: landscape) {
  #nav-footer {
    bottom: 3vh;
  }
}
@media (orientation: portrait) {
  #nav-footer {
    bottom: 5px;
  }
}
#nav-footer app-navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#nav-footer app-navigation .left button, #nav-footer app-navigation .right button {
  padding: 5px;
  width: 90%;
}
#nav-footer app-navigation .left {
  padding: 5px;
  text-align: right;
  width: 45%;
}
#nav-footer app-navigation .right {
  padding: 5px;
  text-align: left;
  width: 45%;
}
.gtp-stacked-column {
  display: flex;
  flex-direction: column;
}
.gtp-stacked-row {
  display: flex;
  flex-direction: row;
}
.section-title {
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map*/