$fontname: Consola;
$font-size-base: 2vw;
$font-size-base-phone: 5vw;

$margins: 1vh;
$nav-landscape-margin: 3vh;

$padding: 1vh;

$border: 1px dashed black;
$border-radius: 1.5vh;

$input-margin-bottom: 1vh;
