$fontname: Consola;
$font-size-base: 2vw;
$font-size-base-phone: 4vw;

$margins: 5px;
$padding: 5px;

$border: 1px dashed black;
$border-radius: 10px;

$input-margin-bottom: 10px;

// -------------------------------------------------------------------

// $patsBeadsOffsetX: -90vw;
// $patsBeadsOffsetY: -18vh;

$prayerOffsetX: 0vw;
$prayerOffsetY: -60vh;

$phoneNavOffsetX: 0vw;
$phoneNavOffsetY: 0vw;

$footerOffsetX: 1vw;
$footerOffsetY: 3vh;
