@import 'styles-mixin.scss';

/* You can add global styles to this file, and also import other style files */
pre, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
}

html {  //   , .page-full {
  background-image: repeating-linear-gradient(0deg, green, green 3px, rgb(0, 56, 0) 3px, rgb(0, 56, 0) 6px);
}

app-root,
.repeating-linear-green,
.repeating-linear-red,
.repeating-linear-rose,
.repeating-linear-violet,
.repeating-linear-white {
  // display: flexbox -ms-flexbox;
  max-height: 100%;
  max-width: 100%;
  // min-height: 100%;
  // min-width: 100%;
}

img {
  object-fit: contain;
}


// .repeating-linear-green, .repeating-linear-red, .repeating-linear-rose, .repeating-linear-violet, .repeating-linear-white {
//   margin: unset;
//   padding: unset;
//   height: 100%;
//   width: 100%;
// }

// .repeating-linear-green {
//   background: repeating-linear-gradient(-45deg, green, green 3px, rgb(0, 56, 0) 3px, rgb(0, 56, 0) 6px);
// }

// .repeating-linear-red {
//   background: repeating-linear-gradient(-45deg, red, red 5px, rgb(56, 0, 0) 5px, rgb(56, 0, 0) 10px);
// }

// .repeating-linear-rose {
//   background: repeating-linear-gradient(-45deg, pink, pink 5px, rgba(255, 192, 203, 0.411) 5px,  rgba(255, 192, 203, 0.411) 10px);
// }

// .repeating-linear-violet {
//   background: repeating-linear-gradient(-45deg, purple, purple 5px, rgb(56, 0, 56) 5px, rgb(56, 0, 56) 10px);
// }

// .repeating-linear-white {
//   background: repeating-linear-gradient(-45deg, white, white 5px, gray 5px, gray 10px);
// }

// .content-border {
//   border: $border;
//   border-radius: $border-radius;
//   display: flexbox;
//   text-align: center;
// }

.content-border {
  border: $border;
  border-radius: $border-radius;
  text-align: center;
}

.content-no-border, .content-border {
  background-color: lightgray;
  box-sizing: border-box;
  // display: flexbox;
  margin-top: $margins;   //calc($margins * 4);
  margin-bottom: $margins;  //calc($margins * -2);
  margin-left: $margins;
  margin-right: $margins;
  opacity: 85%;
  padding: $padding;
  // height: calc(100% - $margins);
  // width: calc(100% - $margins);
}

// // img {
// //   // display: block;
// //   max-height: 100%;
// //   max-width: 100%;
// // }

button {
  margin: $margins;
  min-height: 30px;
}

.alternate-bold {
  color: blue;
  font-weight: bold;
}

.section-container {
  height: 90vmin;
  overflow: hidden;
  text-align: center;
}

.section-row, .section-row-full {
  display: flex;
}

.section-row-full {
  height: 100%;
}

.section-left, .section-center, .section-right, .section-left-2x, .section-right-2x {
  padding: 5px;
}

.section-left, .section-center, .section-right {
  flex: 33%;
}

.section-left-2x, .section-right-2x {
  flex: 66%
}

.section-left, .section-left-2x {
  text-align: right;
}

.section-center {
  text-align: center;
}

.section-right, .section-right-2x {
  text-align: left;
}

.section-title {
  font-weight: bold;
  padding: $padding;
  text-align: center;
}

.spacer {
  font-size: xx-small;
}

